<!DOCTYPE html>
<html lang="pt-br">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>SoluçõesInfo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Slideshow with jmpress.js" />
        <meta name="keywords" content="jmpress, slideshow, container, plugin, jquery, css3" />
        <meta name="author" content="for Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
		<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="css/style_ie.css" />
		<![endif]-->
		<!-- jQuery -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<!-- jmpress plugin -->
		<script type="text/javascript" src="js/jmpress.min.js"></script>
		<!-- jmslideshow plugin : extends the jmpress plugin -->
		<script type="text/javascript" src="js/jquery.jmslideshow.js"></script>
		<script type="text/javascript" src="js/modernizr.custom.48780.js"></script>
		<noscript>
			<style>
			.step {
				width: 100%;
				position: relative;
			}
			.step:not(.active) {
				opacity: 1;
				filter: alpha(opacity=99);
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
			}
			.step:not(.active) a.jms-link{
				opacity: 1;
				margin-top: 40px;
			}
			</style>
		</noscript>
    </head>
    <body>
        <div class="container">
			<header>
				<h1>SoluçõesInfo</h1>
				<h2>
					Somos uma empresa que atua na área de consultoria, manutenção e serviços de informática.<br/>
Nosso foco é o aprimoramento de técnicas de segurança em tecnologia de informação...

				</h2>
				<ul>
				<i class="fa fa-stethoscope"></i>
				</ul>
			</header>
			<section id="jms-slideshow" class="jms-slideshow">
				<div class="step" data-color="color-2">
					<div class="jms-content">
						<h3>Computadores:</h3>
						<p>Limpeza de computadores.</p>
						<p>Upgrade (atualização e modernização de microcomputadores).</p>
						<p>Configuração e implementação do sistema operacional.</p>
						<p>Configuração e instalação de programas.</p>
						<p>Entre em contato para conhecer mais sobre nossos serviços.</p>
						
						<a class="jms-link" href="#">Saiba mais</a>
					</div>
					<img src="images/pc.png" />
				</div>
				
				
				<div class="step" data-color="color-3" data-y="900" data-rotate-x="80">
					<div class="jms-content">
						<h3>Implementação de Redes:</h3>
						<p>Redes locais com cabeamento estruturado e sem-fio.</p>
						<p>Roteamento de modem velox.</p>
						<p>Intranet.</p>
						<p>Servidores Linux e Microsofo.</p>
						<p>Servidores de Correio Eletrônico.</p>
						<p>Implantação e configuração de Câmeras Web.</p>
						<a class="jms-link" href="#">Saiba mais</a>
					</div>
					<img src="images/net.png" style="width: 30%; heithg: 30%" />
				</div>
				
				
				<div class="step" data-color="color-4" data-x="-100" data-z="1500" data-rotate="170">
					<div class="jms-content">
						<h3>Montagem e Venda de Computadores:</h3>
						<p>Montamos o seu PC.</p>
						<p>Montamos o seu notebook.</p>
						<p>Entre em contato para</p>
						<p>escolhermos a configuração mais</p>
						<p>adequada para suas necessidades</p>
						<a class="jms-link" href="#">Saiba mais</a>
					</div>
					<img src="images/pc2.png" style="width: 40%; heithg: 40%"/>
				</div>
				
				
				<div class="step" data-color="color-5" data-x="3000">
					<div class="jms-content">
						<h3>Serviço de Monitoramento:</h3>
						<p>Implantação de acesso remoto para manutenção.</p>
						<p>Gerenciamento da rede através de software via web.</p>
						<p>Entre em contato para</p>
						<p>conhecer todos os nossos</p>
						<p>serviços de monitoramento</p>
						<a class="jms-link" href="#">Saiba mais</a>
					</div>
					<img src="images/linhas.png"style="width: 40%; heithg: 40%" />
				</div>
				
				
				<div class="step" data-color="color-1" data-x="4500" data-z="1000" data-rotate-y="45">
					<div class="jms-content">
						<h3>Assistência:</h3>
						<p>
							Tendo em vista aplicação de melhores práticas de segurança em Tecnologia da Informação, nós da Soluções em Informática temos observado que em muitas empresas existem carências no seu suporte de informática e nas novas tecnologias que surgem. Com isso, ficam vulneráveis em que decisões devem tomar. Entretanto, nós como profissionais de TI estamos à disposição da sua empresa para ajudar no crescimento do seu empreendimento com as melhores práticas na Gestão de Planejamento de TI.
						</p>
						<a class="jms-link" href="#">Saiba mais</a>
					</div>
					<img src="images/amigo.png" style="width: 30%; heithg: 30%" />
				</div>
				
				<div class="step" data-color="color-3" data-x="4500" data-z="3000" data-rotate-y="45">
					<div class="jms-content">
						<h3>Fale Conosco:</h3>
						<p>Fale conosco pelos telefones (21) 8633-5565 • 2778-0053</p>
						<p>ou, se preferir, preencha formulário abaixo.</p>
						<a class="jms-link" href="#">Saiba mais</a>
					</div>
					<img src="images/tel2.png" style="width: 30%; heithg: 30%" />
				</div>

				
				
			</section>
        </div>
		<script type="text/javascript">
			$(function() {
				
				var jmpressOpts	= {
					animation		: { transitionDuration : '0.8s' }
				};
				
				$( '#jms-slideshow' ).jmslideshow( $.extend( true, { jmpressOpts : jmpressOpts }, {
					autoplay	: true,
					bgColorSpeed: '0.8s',
					arrows		: false
				}));
				
			});
		</script>
    </body>
</html>